* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

body {
  background-color: rgb(12, 12, 12);
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.card {
  height: 35rem;
  width: 30rem;
  overflow: hidden;
  transition: 0.5s;
  position: relative;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.3);
}

img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: 0.5s;
}

.content {
  position: absolute;
  bottom: 0;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 20px;
  align-items: center;
  background-color: rgb(240, 29, 10);
  padding: 5px 15px;
  height: 2%;
  width: 80%;
  left: 10%;
  transition: 0.5s;
  overflow: hidden;
}

h3 {
  font-size: 33px;
}

p {
  line-height: 1.5;
  transition: 0.5s;
  opacity: 0;
}

a {
  display: inline-block;
  padding: 10px 20px;
  background-color: white;
  text-decoration: none;
  margin: 20px;
  transition: 0.5s;
  opacity: 0;
}

.card:hover img {
  opacity: 0;
}

.card:hover .content {
  width: 100%;
  height: 100%;
  left: 0;
}

.card:hover p,
.card:hover a {
  opacity: 1;
  transition-delay: 0.7s;
}